.card {
  border: none;
}

.card .card-footer {
  background-color: transparent;
  border: none;
}

.pere-content {
  margin-bottom: 100px;
}

.jumbotron {
  background-color: #437A9B;
  color: #FFF;
}

.lead {
  font-size: 24px;
  max-width: 700px;
}

footer {
  background-color: #437A9B;
  color: #F7F7F7;
}

footer .usc-image-logo {
  width: 100%;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #DDDDDD;
}